<div class="container">
    <h2 class="text-center pt-3"> Students who Share Your Classes </h2>
    <div class="row my-3">
        <div class="col-sm-6"><button id="student-btn"class="btn blu btn-long">Students in my classes</button></div>
        <div class="col-sm-6"><button id="class-btn"class="btn blu btn-long">Groups I'm in</button></div>
    </div>
    <div class="col-sm-12">
        <ul id="student-list" class="list-group">
            {{#each people}}
            <li class="list-group-item row">
                <div class="col-lg-4">{{this.name}}</div>
                <div class="col-lg-4 text-primary" data-toggle="tooltip" data-placement="top" title="{{this.classes}}">you share {{this.classes.length}} classes</div>
                <div class="col-lg-4"i>{{this.login_id}}</div>
            </li>
            </li>
            {{/each}}
        </ul>
        <ul id="classes-list" class="list-group hidden text-sm-center text-md-left">
            {{#each classes}}
            <li class="list-group-item row">{{this.name}}
                <div class="col-lg-3 col-md-6"><strong>{{this.c_count}} Shared Classes</strong></div>
                <div class="col-lg-3 col-md-6">{{this.classes}}</div>
                <div class="col-lg-3 col-md-6">
                    {{this.students.length}}
                    People </div>
                <div class="col-lg-3 col-md-6">
                    {{#if this.added}}
                    <a id="link-{{this.classes}}" target="_top" href="{{this.link}}" >Go to Group</a>
                    {{else}}
                    <!--<button id="create-{{this.classes}}-{{this.s_ids}}" class="btn btn-sm btn-primary">Create Group</button>-->
                    <button id="create-btn" class="btn btn-sm btn-primary">Create Group</button>
                    {{/if}}
                </div>
            </li>
            <div id="s-show" class="hidden" >
                {{#each this.students}}
                <li class="list-group-item ">
                    <label class="custom-control custom-checkbox">
                        <input id="add-check" id="{{this.id}}" type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{this.name}}</span>
                    </label>
                </li>
                {{/each}}
            </div>
            {{/each}}
        </ul>
    </div>
</div>
</div>
