<!-- TODO -->
<!-- people plural people -->
<!-- change up the navigation at the top -->
<!-- font to LatoWeb -->
<!-- add in chat -->
<nav class="navbar navbar-light bg-faded">
  <div class="d-flex justify-content-around">
    <button id="student-btn" class="btn btn-lg w-100 light-blue">
        Students
        <span id="student-tri" class="btn-triangle"></span>
    </button>
    <button id="class-btn" class="btn btn-lg w-100 light-blue">
        Groups i'm In
        <span id="student-tri" class="btn-triangle"></span>
    </button>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <table id="student-list" class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Shared Classes</th>
          </tr>
        </thead>
        <tbody>
          {{#each people}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this.name}}</td>
            <td>{{this.login_id}}</td>
            <td class="text-primary" data-toggle="tooltip" data-placement="top" title="{{this.classes}}">{{this.classes.length}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <table id="classes-list" class="table hidden">
        <thead>
          <tr>
            <th>#</th>
            <th>Group</th>
            <th>Students</th>
            <th>Shared Classes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each classes}}
          <tr>
            <th scope="row">{{@index}}</th>
            <th scope="row">{{this.classes}}</th>
            <td>
              <span class="badge badge-default badge-pill">{{this.students.length}}</span>
            </td>
            <td>
              <span class="badge badge-default badge-pill">{{this.c_count}}</span>
            </td>
            <td>
              {{#if this.added}}
              <a id="link-{{this.classes}}" target="_top" href="{{this.link}}" >Go to Group</a>
              {{else}}
              <button id="create-{{this.classes}}-{{this.s_ids}}" class="btn btn-sm btn-primary">Create Group</button>
              <a id="link-{{this.classes}}" class="hidden" target="_top" href="{{this.link}}" >Go to Group</a>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
