<div class="container">
  <h2 class="text-center"> Students who Share Your Classes </h2>
  <div class="row my-3">
    <div class="col-xs-12 col-md-6"><button id="student-btn"class="btn btn-primary btn-long">Students</button></div>
    <div class="col-xs-12 col-md-6"><button id="class-btn"class="btn btn-primary btn-long">Group List</button></div>
  </div>
  <ul id="student-list" class="list-group">
    {{#each people}}
    <li class="list-group-item row">
      <div class="col-lg-4">{{this.name}}</div>
      <div class="col-lg-4 text-primary" data-toggle="tooltip" data-placement="top" title="{{this.classes}}">you share {{this.classes.length}} classes</div>
      <div class="col-lg-4"i>{{this.login_id}}</div>
    </li>
    {{/each}}
  </ul>
  <ul id="classes-list" class="list-group hidden">
    {{#each classes}}
    <li class="list-group-item row">{{this.name}}
      <div class="col-lg-4"><strong>{{this.c_count}} Shared Classes</strong></div>
      <div class="col-lg-4">{{this.classes}}</div>
      <div class="col-lg-4">{{this.students.length}} People</div>
    </li>
    {{/each}}
  </ul>

</div>
